<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
</head>
<body>
    <div class="content">
        
        <div class="left">
            <h1>New Dojo</h1>
            <form action="/dojoRegistro" method="POST">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                </div>
                <input type="submit" value="Crear Dojo">
            </form>
        </div>
        <div class="right">
            <h1>All Dojos</h1>
            <p>
                {% for i in dojos_here %}
                    <a href="/dojoShow/{{i.id}}">{{ i.name }}</a> <br>
                {% endfor %}
            </p>
            <a href="/addNinja">Add Ninja</a>
        </div>
    </div>
</body>
</html>